@media screen and (max-width:412px) {

    p {
        font-size: 5vw;
        padding: inherit;
        text-align: center;
        margin-left: 80px;
    }

}



@media screen and (max-width:412px) {

    li {
        font-size: large;
        margin: 6px;
        margin-right: auto;
    }


}


@media screen and (max-width:400px) {

    p {
        padding: inherit;
        font-size: large;
    }

}

@media screen and (min-width:360px) {
    p {
        padding-right: initial;
        margin: revert;
        font-style: italic;
    }
}