*{
    padding: 0px;
    margin: 0px;
}


.items {

    display: flex;
    background-color: rgb(0, 0, 0);
    margin-left: -8px;
    margin-right: -5px;
    margin-top: 0px;
    height: 34px;





}

.item {
    padding: 0px;
    margin: 0px;
    margin-left: 9px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 2170px;
    z-index: 2;



}

.nav {
    display: flex;


}


a {
    margin: 3px;
    color: rgb(255, 255, 255);

    text-decoration: none;





}

li {
    list-style-type: none;
    margin: 0px;
    margin-left: 32px;


}

.logo {
    margin-bottom: 0px;
    margin-top: -1px;
    z-index: 100;
    margin-right: -1px;
}


.manu {
    display: flex;
}

section {
    padding: 3px;
    padding-right: 100px;
    margin: 10px;
    text-align: center;
}

section {
    position: fixed;
    background: url(background.png) no-repeat;
    height: 100%;
    width: 100%;
    margin: 0%;
    margin-top: -4%;
    margin-right: 0px;
    

}

.h1 {
    margin-top: 45px;
    padding-bottom: 45px;
}


